.menu{
    background-color: #b20000;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.nav{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
*  {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.top-img {
    display: block;
    margin: 25px 35px;
    margin-left: 150px;
}
.center-img{
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.footer-nav{
    background-color: rgb(0, 72, 84);
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.footer-text{
    color: #ffffff;
    line-height: 25px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300px;
}
.footer-bottom{
    background-color: rgb(0, 92, 109);
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.fbottom-text{
    margin: 0;
    line-height: 1.2;
    color: #ffffff;
    font-size: 12px;
    margin-left: 60px;
}
.selos{
    width: 85px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.fbottom-column{
    display:flex;
    flex-direction: column;
    padding-top: 30px;
}
.bottom-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 75px;
    gap: 25%;
    margin-right: 36px;
    margin-left: 36px;
}
.button-model{
    background-color: #174a7d;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 70px;
    border: none;
    border-radius: 150px;
}
.button-model:hover{
    background-color:#071d33
}
a{
    text-decoration: none;
}
.bottom-end{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 16px;
}